/* You can add global styles to this file, and also import other style files */
@import "https://bootswatch.com/cosmo/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding-top: 50px; 
    padding-bottom: 20px; 
  } 
     
    
    .nav{
    float: right;
margin-left: 250px;}
