/* You can add global styles to this file, and also import other style files */
@import "https://bootswatch.com/cosmo/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap.css";

.container {padding-top: 10px;
   
    padding-bottom: 20px; 
  } 
     
    
    .nav{
    float: right;
margin-left: 250px;}

li {
    display: inline;
    margin-right: 40px;
    }

    .media-body { 
        padding: 40px 15px; 
     
      }

      body{background-image:url("./assets/image3.jpg") ;
        
 
  background-size: cover; 
  height:fit-content;
  width: fit-content;
  position: fixed;
}

 .nav .navbar {background-color: transparent;}

 .media{padding-top: 150px;}
 .media img{height: 50px;
width: 50px;}